.display {
    display: none;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
    background-color: #f7f7f7;
}


header .navbar-default {
    min-height: 100px;
}


header, section {
    margin-bottom: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
    background-color: #d6d6d6;
}

footer p {
    text-align: center;
    text-transform: uppercase;
    color: #666;
    padding-top: 45px;
}


.custom-datepicker i.fa-calendar {    
    color: #54698d;
}

.custom-datepicker i.fa-calendar:hover { 
    color: #d54003;
}

.page {
    padding-top: 50px;
}

.sexo {
    margin-top: 20px; 
}

.checkbox {
    margin-top: 35px; 
}

.sexo label {
    text-transform: none;
    margin-right: 10px;
}

.checkbox label {
    text-transform: none;
}

.page-title {
    text-transform: uppercase;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    color: #00205c;
    margin-bottom: 30px;
}

.page .page-title {
    margin: 30px 0px;
}

.list-itens {
    padding: 0;
}

.list-itens fieldset {
    padding: 0;
}

.list-itens ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-itens ul li {
    padding: 14px 0px 14px 30px;
    min-height: 60px;
    font-size: 10px;
    color: rgb(102,102,102);
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc!important;
}

.list-itens ul li:hover {
    background-color: #e3e3e3;
}

.list-itens ul li .ico-type {
    width: 28px;
    margin-right: 20px;
}

.list-itens ul li .ico-download {
    width: 15px;
    margin-left: 10px;
}


.logo {
    max-height: 50px;
    width: 115px;
    margin: 18px 0px 0px 0px;
}

.nav-search {
    margin-left: 5%;
    width: 50%;
    float: left;
}

.nav-user {
    float: right;
}

.nav-user .dropdown {
    margin: 25px 0px 0px 0px;
    width: 100%;
    min-width: 230px;
    height: 40px;
}

.nav-user .dropdown .dropdown-toggle {    
    width: 100%;        
    min-width: 230px;        
    height: 40px;        
    display: block;
    color: #666;
    text-transform: uppercase;
    font-size: 10px;
}

.nav-user .dropdown .dropdown-toggle:hover {    
    text-decoration: none;
}

.nav-user .dropdown .avatar {
    border-radius: 100%;
    float: right;
}

.nav-user .dropdown .user-name {
    margin: 15px 10px 0px 0px;
    color: #666;
    text-transform: uppercase;
    font-size: 10px;
    float: right;
}

.nav-user .dropdown .caret {
    margin: 20px 0px 0px 10px;
    float: right;
}

.search-bar {
    margin: 30px 0px 0px 0px;
    height: 40px;
}

.menu-bar .navbar-collapse {
    padding: 0;
}

.menu-bar .navbar.navbar-default {
    margin-bottom: 0;
    height: 55px;
}

.menu-bar .navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.button-area select {
    font-size: 12px;
    margin-top: 0;
}


table {
    margin-bottom: 30px;
}

table th,
table td {
    text-align: center;
}

table td {
    border-right: 1px solid #fff;
}

table td:last-child {
    border-right: none;
}

.modal-header {
    background-color: #00205c;
    text-transform: uppercase;
    font-size: 22px;
    color: #fff;
}

.modal-header .close {
    color: #fff;
}

.modal-body {
    overflow: auto;
}

.box-modal {
    text-align: center;
    display: block;
    width: 135px;
    height: 135px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    font-size: 9px;
    text-transform: uppercase;
    color: #666;
    background-color: white;
    position: relative;
}

.box-modal:hover,
.box-modal:active,
.box-modal:focus {
    
    color: #666;
    text-decoration: none;
}

.box-modal img  {
    margin-top: 7px;
}

.box-modal p {
    margin-top: 10px;
}

.shield-detalhe {
    padding: 30px;
}

.shield-detalhe .type,
.shield-detalhe .item1 {
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(247, 99, 25);
    font-weight: 600;
}

.shield-detalhe .name,
.shield-detalhe .item2 {
    font-weight: 600;
    font-size: 16px;
    color: rgb(27, 54, 93);
    margin-bottom: 0;
    text-transform: uppercase;
}

.detalhes {
    margin-bottom: 150px;
}

.detalhes .title,
.detalhes .item1 {
    font-size: 10px;
    text-transform: uppercase;
    color: #666;
    font-weight: 600;
}

.detalhes .value,
.detalhes .item2 {
    color: #666;
    font-size: 12px;
}
.detalhes .panel-title a:hover {
    text-decoration: none;
}

.detalhes .panel-title a span {
    font-size: 9px;
    text-transform: none;
    color: rgb(205,204,204);
    font-weight: 600;
    margin-left: 10px;
}

.detalhes .panel-title .add {
    width: 100%;
    display: block;
    height: auto;
}

.detalhes .panel-title .add img  {
    position: absolute;
    top: 15px;
    right: 15px;
}

.detalhes .box-title {
    font-size: 14px;
    color: rgb(102,102,102);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 0px;
}

.warning {
    margin-right: 10px;
    font-size: 12px;
    position: relative;
}

.navigation {
    display: block;
    width: 100%;
    height: 45px;
    position: relative;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.16);
}

.navigation .item {
    height: 45px;
    background-color: rgb(245,245,245);
    border: 1px solid rgb(220,220,220);
    color: rgb(220,220,220);
    border-left: 0px;
    text-align: center;
    padding-top: 8px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
    padding: 8px;
}

.navigation .item.act::after,
.navigation .item.edt::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
    top: 0;
    right: -15px;
    z-index: 999;
    border-left: 15px solid rgb(245,245,245);
}

.navigation .item:last-child::after {
    border: none;
}

.navigation .item.act {
    color: rgb(255,255,255);
    background-color: rgb(248,113,55);
}

.navigation .item.act::after {
    border-left: 15px solid rgb(248,113,55);
}

.navigation .item.edt {
    color: rgb(248,113,55);
    background-color: rgb(255,255,255);
}

.navigation .item.edt::after {
    border-left: 15px solid rgb(255,255,255);
}

.navigation .item:first-child {
    border-radius: 5px 0 0 5px;
    border-left: 1px solid rgb(220,220,220);
}

.navigation .item:last-child {    
    border-radius: 0px 5px 5px 0px;        
    border-right: 1px solid rgb(220,220,220);
}

.button-area button {
    margin-left: 20px;
}

.loader {
    border: 16px solid #fff; /* Light grey */
    border-top: 16px solid rgb(248,113,55); /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}