.display {
    display: none;
}

.custom-datepicker i.fa-calendar {    
    color: #54698d;
}

.custom-datepicker i.fa-calendar:hover { 
    color: #d54003;
}

.page {
    padding-top: 50px;
}

.sexo {
    margin-top: 20px; 
}

.checkbox {
    margin-top: 35px; 
}

.sexo label {
    text-transform: none;
    margin-right: 10px;
}

.checkbox label {
    text-transform: none;
}

.page-title {
    text-transform: uppercase;
    margin: 30px 0;
    font-size: 16px;
    font-weight: 600;
    color: #00205c;
}