<!DOCTYPE html>
<html>
<head>

    <title>Styleguide</title>
    <meta name="description" content="Cap Online GUI Guide">
    <meta name="author" content="@Piulres">
    <meta charset="UTF-8">

    <!-- Scripts -->

    <!-- jquery -->
    <script type='text/javascript' src='../js/jquery.js'></script>

    <!-- boostrap -->
    <script type='text/javascript' src='../js/bootstrap.min.js'></script>

    <!-- w3data - script to import html files // notrequired -->
    <script type='text/javascript' src='../js/w3data.js'></script>
    
    <!-- datepicker -->
    <script type='text/javascript' src='../js/bootstrap-datepicker.js'></script>

    <!-- custom calls -->
    <script type='text/javascript' src='../js/script.js'></script>

    <!-- CSS's -->
    <link href='../css/normalize.css' rel='stylesheet' type='text/css'>
    <link href='../css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link href='../css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/bootstrap-theme-1.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/datepicker.css' rel='stylesheet' type='text/css'>
    <link href='../css/custom.css' rel='stylesheet' type='text/css'>

</head>
<body class="page">

    <section>

        <div class="container">

            <a href="../index.html">Back to Menu</a>
            <h1>Documentos</h1>

            <hr>
            
            <div class="row">

                <div class="col-lg-12">
                    
                    <h1 class="page-title">Documentos</h1>

                </div>

            </div>

            <div class="shield list-itens">
                
                <fieldset class="shield-content">

                    <ul>
                        <li><img class="ico-type" src="../img/ico1.png">Planilha PDF<img class="ico-download" src="../img/ico4.png"></li>
                        <li><img class="ico-type" src="../img/ico1.png">Planilha PDF<img class="ico-download" src="../img/ico4.png"></li>
                        <li><img class="ico-type" src="../img/ico2.png">Apresentação PPT<img class="ico-download" src="../img/ico4.png"></li>
                        <li><img class="ico-type" src="../img/ico2.png">Apresentação PPT<img class="ico-download" src="../img/ico4.png"></li>
                        <li><img class="ico-type" src="../img/ico3.png">Documento DOC<img class="ico-download" src="../img/ico4.png"></li>
                        <li><img class="ico-type" src="../img/ico3.png">Documento DOC<img class="ico-download" src="../img/ico4.png"></li>
                    </ul>

                </fieldset>

            </div>

        </div>

    </section>

</body>
</html>